<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" href="styles/advice.css">
  <title>Document</title>
</head>
<body>
  <h1>Advice</h1>
  {{> header}}
</div>

<div class="row"> 
  <div class="column">
    <a href="https://www.childline.org.uk/info-advice/" target="_blank">
      <img src="assets/images/c_a.png" alt="Childline advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.childline.org.uk/get-involved/real-life-stories/" target="_blank">
      <img src="assets/images/c_s.png" alt="Childline stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://www.rethink.org/living-with-mental-illness/young-people" target="_blank">
      <img src="assets/images/rethink_a.png" alt="Rethink mental illness advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.rethink.org/carers-family-friends/brothers-and-sisters-siblings-network/your-stories/personal-stories" target="_blank">
      <img src="assets/images/rethink_s.png" alt="Rethink mental illness personal stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://youngminds.org.uk/find-help/feelings-and-symptoms/ " target="_blank">
      <img src="assets/images/ym_a.png" alt="Young minds advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://youngminds.org.uk/blog/the-moment-i-reached-out/" target="_blank">
      <img src="assets/images/ym_s.png" alt="Young minds stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://www.nhs.uk/livewell/youth-mental-health/pages/Youth-mental-health-help.aspx " target="_blank">
      <img src="assets/images/nhs_a.png" alt="NHS advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.time-to-change.org.uk/personal-stories" target="_blank">
       <img src="assets/images/timetochange2_s.png" alt="Time to change personal stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://www.mind.org.uk/information-support/guides-to-support-and-services/children-and-young-people/#.WrdrFYjwbIU " target="_blank">
      <img src="assets/images/mind_a.png" alt="Mind advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.mind.org.uk/information-support/your-stories/" target="_blank">
      <img src="assets/images/mind_s.png" alt="Mind stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="http://camhs.cnwl.nhs.uk/young-people-adolescents/mental-health-tips-coping-strategies/ " target="_blank">
      <img src="assets/images/camhs_a.png" alt="CAMHS advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.time-to-change.org.uk/category/blog/young-people" target="_blank">
      <img src="assets/images/timetochange1_s.png" alt="Time to change blog" style="width:215px;height:215px;border:0;">
    </a>
  </div> 

</div>
</body>
{{> footer}}
</html>