<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" href="styles/tables.css">
  <title>Document</title>
</head>
<body>
 <h1>Help</h1>
 {{> header}} 
 <h3>Organisations that could help</h3>
 <table style="width: 100%">
   <tr class="table__header">
     <th>Name</th>
     <th>Telephone Number</th>
     <th>Opening Times</th>
   </tr>
   <tr>
     <th>Anxiety UK</th>
     <th>08444 775 7740</th>
     <th>Mon-Fri, 9:30am-5:30pm</th>
   </tr>
   <tr>
     <th>Childline</th>
     <th>0800 111</th>
     <th>free 24hr helpline</th>
   </tr>
   <tr>
     <th>Mind (Over 18s)</th>
     <th>0300 123 3393</th>
     <th>Mon-Fri, 9am-6pm</th>
   </tr>
   <tr>
     <th>No Panic</th>
     <th>0844 967 4848</th>
     <th>daily, 10am-10pm</th>
   </tr>
   <tr>
     <th>OCD Action</th>
     <th>0845 390 6232</th>
     <th>Mon-Fri, 9:30am-5pm</th>
   </tr>
   <tr>
     <th>OCD UK</th>
     <th>0845 120 3778</th>
     <th>Mon-Fri, 9am-5pm</th>
   </tr>
   <tr>
     <th>Papyrus (Youth Suicide Prevention)</th>
     <th>0800 068 4141</th>
     <th>Mon-Fri, 10am-5pm & 7pm-10pm. Weekends 2pm-5pm</th>
   </tr>
   <tr>
     <th>Rethink Mental Illness</th>
     <th>0300 5000 927</th>
     <th>Mon-Fri, 9:30am-4pm</th>
   </tr>
   <tr>
     <th>Samaritans</th>
     <th>116 123</th>
     <th>free 24hr helpline</th>
   </tr>
   <tr>
     <th>Saneline</th>
     <th>0845 767 8000</th>
     <th>daily, 6-11pm offer multilingual support</th>
   </tr>
   <tr>
     <th>SANE</th>
     <th>0300 304 7000</th>
     <th>daily, 4:30-10:30pm</th>
   </tr>
   <tr>
     <th>YoungMinds</th>
     <th>0808 802 5544</th>
     <th>free 24hrs helpline</th>
   </tr>
 </table>
</body>
{{> footer}}
</html>