<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <link rel="stylesheet" href="styles/index.css">
  <title>MentalHealthApp</title>
</head>
<body>
  <div class="bg"></div>

  <div class="container">
    <div class="vent"><a href="/vent">Vent Wall</a></div>
    <div class="relax"><a href="/relax">Relax Room</a></div>
    <div class="game"><a href="/game">Game Room</a></div>
    <div class="advice"><a href="/advice">Advice Room</a></div>
    <div class="gethelp"><a href="/help">Help Room</a></div>
  </div>
</body>
</html>