<!DOCTYPE html>
<html>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 0px;
}

.column {
    float: left;
    width: 16.666%;
    padding: 5px;
}

.column img {
    margin-top: 0px;
}

.column img2 {
    margin-top: 0px;
}

.column img3 {
    margin-top: 0px;
}

.column img4 {
    margin-top: 0px;
}

.column img5 {
    margin-top: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
<body>

<div class="header">
  <h1>Advice and Resources</h1>
</div>

<div class="row"> 
  <div class="column">
    <a href="https://www.childline.org.uk/info-advice/" target="_blank">
        <img src="c_a.png" alt="Childline advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.childline.org.uk/get-involved/real-life-stories/" target="_blank">
        <img src="c_s.png" alt="Childline stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://www.rethink.org/living-with-mental-illness/young-people" target="_blank">
        <img src="rethink_a.png" alt="Rethink mental illness advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.rethink.org/carers-family-friends/brothers-and-sisters-siblings-network/your-stories/personal-stories" target="_blank">
        <img src="rethink_s.png" alt="Rethink mental illness personal stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://youngminds.org.uk/find-help/feelings-and-symptoms/ " target="_blank">
        <img src="ym_a.png" alt="Young minds advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://youngminds.org.uk/blog/the-moment-i-reached-out/" target="_blank">
            <img src="ym_s.png" alt="Young minds stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://www.nhs.uk/livewell/youth-mental-health/pages/Youth-mental-health-help.aspx " target="_blank">
        <img src="nhs_a.png" alt="NHS advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.time-to-change.org.uk/personal-stories" target="_blank">
            <img src="timetochange2_s.png" alt="Time to change personal stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="https://www.mind.org.uk/information-support/guides-to-support-and-services/children-and-young-people/#.WrdrFYjwbIU " target="_blank">
        <img src="mind_a.png" alt="Mind advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.mind.org.uk/information-support/your-stories/" target="_blank">
        <img src="mind_s.png" alt="Mind stories" style="width:215px;height:215px;border:0;">
    </a>
  </div> 
  <div class="column">
    <a href="http://camhs.cnwl.nhs.uk/young-people-adolescents/mental-health-tips-coping-strategies/ " target="_blank">
        <img src="camhs_a.png" alt="CAMHS advice" style="width:215px;height:215px;border:0;">
    </a>
    <a href="https://www.time-to-change.org.uk/category/blog/young-people" target="_blank">
        <img src="timetochange1_s.png" alt="Time to change blog" style="width:215px;height:215px;border:0;">
    </a>
  </div> 

</div>

</body>
</html>
