* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 0px;
}

.column {
  float: left;
  width: 16.666%;
  padding: 5px;
}

.column img {
  margin-top: 0px;
}

.column img2 {
  margin-top: 0px;
}

.column img3 {
  margin-top: 0px;
}

.column img4 {
  margin-top: 0px;
}

.column img5 {
  margin-top: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}