* {
  background-color: #0b0b23;
  color: white;
}

body {
  font-family: 'Raleway', 'sans-serif';
  margin: 12px 24px;
}

h1 {
  font-size: 45px;
  text-align: center;
  padding-bottom: 5px;
}

button {
  background-color: #412B42;
  border: none;
}

input {
  background-color: white;
}

nav {
  margin-bottom: 24px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: #412B42 3px solid;
}

a {
  text-decoration: none;
}

.game {
  display: flex;
  justify-content: center;
}

#removeVents {
  border: none;
  margin-bottom: 5px;
}

#vent-form{
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
}

#vent-form input{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: none;
  color: black;
  font-size: 24px; 
}

#vent-form button {
  font-size: 24px; 
}

.wrap {
  max-width: 100rem;
  margin: none;
  padding: none;
  margin-bottom: 20px;
}

.ventForm {
  display: flex;
  flex-direction: column;
}

#removeVents {
  font-size: 20px;
  margin-left: 10px;
}

#vents {
  font-size: 24px;
}